
/* Links */
a {
	color: #fff;
}
a:focus,
a:hover {
	color: #skyblue;
}
/* Custom default button */

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #999;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .5px 2px rgba(0,0,0,.5);
}
/**/
.container-fluid {
	background-color: #333;
	margin-top: 10px;
	border-radius: 5px;
}
.icon-bar {
	background-color: skyblue;
}
.navbar {
	color: #aaa;
}
.navbar-brand {
	color: lightskyblue;
	font-family: Impact;
}
.navbar-brand:focus,
.navbar-brand:hover {
	color: #fff;
}

.jumbotron {
	text-align: start;
	color: #fff;
	background-color: #ccc;
}
.jumbotron h1 {
	font-family: Verdana;
}
.jumbotron p {
	font-family: cursive;
}
.footer {
	margin-bottom: 10px;
}

#bootstrap {
	color: #653152;
}
#mail {
	color: lightskyblue;
	font-family: Vivaldi, Arial;
}

/*test*/
